opencv-contrib-python
timm==0.6.13
PyWavelets
opensimplex
matplotlib
pandas<=1.5.1
numexpr
rich
imageio[ffmpeg]
scikit-image
moviepy
librosa
pydub
versioneer
pims>=0.6.1
git+https://github.com/deforum-studio/deforum.git
